* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: black;
  min-height: 400px;
}

.header__container__navbar {
  flex-direction: column;
}

.header__container__navbar .header__container__navbar__boton {
  color: white;
}

.header__container__navbar .header__container__logotipo {
  width: 201px;
}

.header__container__navbar .header__container__logotipo .header__container__logotipo--img {
  border: 10px rgba(185, 114, 28, 0.415) solid;
  border-radius: 100px;
  width: 100%;
}

.header__container__navbar .header__container__logotipo .header__container__logotipo--texto {
  text-align: center;
  align-items: center;
  font-family: "Permanent Marker";
  color: white;
  font-size: 40px;
}

.header__container__navbar .header__navbar__botones a {
  font-size: 40px;
  font-family: "Permanent Marker";
}

.main__index {
  background-color: black;
  min-height: 400px;
}

.main__index .section__carousel--img {
  width: 100%;
  height: 800px;
  border: 10px rgba(185, 114, 28, 0.415) solid;
}

.section__titulo {
  text-align: center;
  align-items: center;
  font-size: 150px;
  font-family: "Permanent Marker";
  color: white;
  width: 100%;
}

.footer {
  background-color: black;
}

.footer .footer__container__logotipoFlex {
  justify-content: center;
  padding-top: 20px;
}

.footer .footer__container__logotipo--img {
  border: 10px rgba(185, 114, 28, 0.415) solid;
  border-radius: 100px;
}

.footer .footer__container__aboutUs {
  display: block;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.footer .footer__container__aboutUs .footer__container__aboutUs__estilo {
  font-size: 40px;
  font-family: "Permanent Marker";
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.footer .footer__container__lista {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style-type: none;
}

.footer .footer__container__lista .footer__container__lista--item a {
  text-decoration: none;
  color: white;
  padding: 20px 20px;
  font-family: "Permanent Marker";
}

.footer .footer__container__span {
  text-align: center;
  justify-items: center;
  color: white;
  padding-bottom: 20px;
}

.footer .imgcenter {
  text-align: center;
}

.section__local__titulo {
  color: white;
  text-align: center;
  justify-content: center;
}

.locales__texto {
  color: white;
  text-align: center;
  justify-content: center;
}

.locales__mapaFlex {
  justify-content: center;
}

.locales__contenedorFlex {
  justify-content: center;
}

.mainPrendas {
  min-height: 700px;
}

.section__contenedor_prendas {
  justify-content: space-evenly;
}

.section__contenedor_prendas-cards {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
  border-radius: 1.25rem;
}

.section__contenedor__prendas__cards__img {
  height: 200px;
}

.section_formulario {
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 40px;
}

.section_formulario-item6 {
  width: 400px;
}

.contacto_botonEnviar {
  margin-top: 20px;
}

.Giftcards {
  background-color: rgba(185, 114, 28, 0.415);
  color: black;
  min-height: 250px;
}

.Giftcards__contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.gifcards__flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: auto;
  padding-top: 20px;
}

.gifcards__flex--1 {
  background-color: gold;
  width: 80%;
  max-width: 500px;
  height: 200px;
  border-radius: 30px;
  padding: 1rem;
  flex-shrink: 0;
}

.gifcards__flex--2 {
  background-color: #dadada;
  width: 80%;
  max-width: 500px;
  height: 200px;
  border-radius: 30px;
  padding: 1rem;
  flex-shrink: 0;
}

.gifcards__flex--3 {
  background-color: #92c6d4;
  width: 80%;
  max-width: 500px;
  height: 200px;
  border-radius: 30px;
  padding: 1rem;
  flex-shrink: 0;
}
/*# sourceMappingURL=estilos.css.map */