.contacto_botonEnviar {
    margin-top: 20px;
    width: 6rem;
    height: 3rem;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Permanent Marker";
    text-align: center;
    color: black;
    text-decoration: none;
    list-style-type: none;
}
