.footer {
    background-color: $FondoPrincipal;

    .footer__container__logotipoFlex {
        justify-content: center;
        padding-top: 20px;
    }

    .footer__container__logotipo--img {
        border: 10px $colorMarca solid;
        border-radius: 100px;transition: 1s;
    }
    .footer__container__logotipo--img:hover {
        transform: scale(1.1);
    }

    .footer__container__aboutUs {
        display: block;
        text-align: center;
        justify-content: center;
        padding-top: 20px;

        .footer__container__aboutUs__estilo {
            font-size: 40px;
            font-family: "Permanent Marker";
            ;
            color: $colorTextoPrincipal;
            text-decoration: none;
            list-style-type: none
        }
    }

    .footer__container__lista {
        display: flex;
        text-align: center;
        justify-content: center;
        list-style-type: none;

        .footer__container__lista--item a {
            text-decoration: none;
            color: $colorTextoPrincipal;
            padding: 20px 20px;
            font-family: "Permanent Marker";
            &:hover {text-decoration: underline; }
        }
    }

    .footer__container__span {
        text-align: center;
        justify-items: center;
        color: $colorTextoPrincipal;
        padding-bottom: 20px;
    }.imgcenter{ text-align: center;}
}
