.Giftcards{background-color: rgba(185, 114, 28, 0.415);
    color: black;
    min-height: 250px;
}
.Giftcards__contenedor{max-width: 1200px;margin:  0 auto;}
.gifcards__flex{display: flex;flex-direction: row; gap: 1rem;overflow: auto
    ;padding-top: 20px;}
.gifcards__flex--1{background-color: gold; width: 80%;max-width: 500px;height: 200px; border-radius: 30px; padding: 1rem;flex-shrink: 0;}
.gifcards__flex--2{background-color: rgb(218, 218, 218);width: 80%;max-width: 500px;height: 200px; border-radius: 30px; padding: 1rem;flex-shrink: 0;}
.gifcards__flex--3{background-color: rgb(146, 198, 212);width: 80%;max-width: 500px;height: 200px; border-radius: 30px; padding: 1rem;flex-shrink: 0;}