.header {
    background-color: $FondoPrincipal;
    min-height: 400px;
}

.header__container__navbar {
    flex-direction: column;

    .header__container__navbar__boton {
        color: $colorTextoPrincipal;
    }

    .header__container__logotipo {
        width: 201px;

        .header__container__logotipo--img {
            border: 10px $colorMarca solid;
            border-radius: 100px;
            width: 100%;
        }

        .header__container__logotipo--texto {
            text-align: center;
            align-items: center;
            font-family: "Permanent Marker";
            color: $colorTextoPrincipal;
            font-size: 40px;
        }
    }

    .header__navbar__botones a {
        font-size: 40px;
        font-family: "Permanent Marker";
    }
}