.header {
    background-color: $FondoPrincipal;
    min-height: 100px;
}

.header__container__navbar {
    flex-direction: column;

    .header__container__navbar__boton {
        color: $colorTextoPrincipal;
    }

    .header__container__logotipo {
        

        .header__container__logotipo--img {
            border: 10px $colorMarca solid;
            border-radius: 100px;
            width: 100%;
            transition: 1s;
            width: 170px;
            height: 170px;
        }

        .header__container__logotipo--img:hover {
            transform: scale(1.1);
        }

        .header__container__logotipo--texto {
            text-align: map-get($estilos, textalig);
            font-family: "Permanent Marker";
            color: $colorTextoPrincipal;
            font-size: 30px;
            padding-top: 10px;
        }
    }

    .header__navbar__botones a {
        font-size: 40px;
        font-family: "Permanent Marker";
        margin-left: 40px;
        margin-right: 20px;

        &:hover {
            text-decoration: underline;
        }
    }

}