.main__index{background-color: black;min-height: 400px;}

.section__titulo {
    text-align: center;
    align-items: center;
    font-size: 150px;
    font-family: "Permanent Marker";
    color: white;
    width: 100%;
}
.section__carousel--img{width: 100%; height: 800px;border:10px rgba(139, 86, 22, 0.611) solid ;}