.main__index {
    background-color: $FondoPrincipal;
    min-height: 400px;



    .section__carousel--img {
        width: 100%;
        height: 800px;
        border-top: 10px $colorMarca solid;
        border-bottom: 10px $colorMarca solid;
    }
}

.section__titulo {
    justify-content: map-get($estilos, justcont);
    text-align: map-get( $estilos, textalig );
    font-size: 150px;
    font-family: "Permanent Marker";
    color: $colorTextoPrincipal;
    width: 100%;
}