.section__local__titulo {
    color: $colorTextoPrincipal;
    text-align: center;
   
}

.locales__texto {
    color: $colorTextoPrincipal;
   
    text-align: map-get( $estilos, textalig );
   
}

.locales__mapaFlex {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.locales__contenedorFlex {
    justify-content: center;
}