.section__local__titulo {
    color: $colorTextoPrincipal;
    text-align: center;
    justify-content: center;
}

.locales__texto {
    color: $colorTextoPrincipal;
    text-align: center;
    justify-content: center;
}

.locales__mapaFlex {
    justify-content: center;
}

.locales__contenedorFlex {
    justify-content: center;
}