@media screen and (max-width:1114px){
    .header__container__navbar .header__navbar__botones a {
        font-size: 25px;
      
    }
    }


@media screen and (max-width:786px){
    .footer .footer__container__lista .footer__container__lista--item a {  
        font-size: 20px;
    }
}


@media screen and (max-width:648px) {
    .section__titulo {
        font-size: 90px;

    }
    .section__formulario--Input {
       
        font-size: 15px;
    }
}
@media screen and (max-width:533px) {
    .footer .footer__container__lista .footer__container__lista--item a {
       
        font-size: 15px;
    }
    .main__index .section__carousel--img {
   
        height: 400px;
        
    }
    
}



@media screen and (max-width:446px) {
    
    .footer .footer__container__lista .footer__container__lista--item a {
       
        font-size: 10px;
    }

}

@media screen and (max-width:416px) {
    .section__titulo {
        font-size: 60px;

    }
    .footer .footer__container__aboutUs .footer__container__aboutUs__estilo {
        font-size: 30px;
        
    }

}
@media screen and (max-width:362px) {
    .header__container__navbar .header__navbar__botones a {
        font-size: 30px;
       
    }
    .section__formulario--Input {
       
        font-size: 11px;
    }

    .section__formulario--Textarea {
        height: 50px;
        font-size: 11px;
    }
    
}


