@media screen and (max-width:797px) {
    .section__titulo {
        font-size: 100px;

    }

}

@media screen and (max-width:786px) {
    .section_formulario-itemb {
        width: 320px;
    }

    .section_formulario-itemc {
        width: 320px;

    }
    .footer .footer__container__lista .footer__container__lista--item a {
       
        font-size: 20px;
    }

}

@media screen and (max-width:648px) {
    .section__titulo {
        font-size: 90px;

    }
    
}
@media screen and (max-width:533px) {
    .footer .footer__container__lista .footer__container__lista--item a {
       
        font-size: 15px;
    }
}

@media screen and (max-width:446px) {
    .section__formularia--edad {
        padding-left: 0px;
    }

    .section__formularia--nacionalidad {
        padding-left: 0px;
    }

    .section__formularia--nacionalidad {
        padding-left: 0px;
    }

    .section__formularia--direccion {
        padding-left: 0px;
    }

    .section__formularia--comentario {
        padding-left: 0px;
    }
    .footer .footer__container__lista .footer__container__lista--item a {
       
        font-size: 10px;
    }

}

@media screen and (max-width:416px) {
    .section__titulo {
        font-size: 70px;

    }

}
@media screen and (max-width:362px) {
    .header__container__navbar .header__navbar__botones a {
        font-size: 30px;
       
    }


}

@media screen and (max-width:345px) {
    .section__titulo {
        font-size: 60px;
    }

    .section_formulario-itemb {
        width: 300px;
    }

    .section_formulario-itemc {
        width: 300px;
    }
  .section_formulario {
    font-size: 30px;
}

}
