.mainPrendas{min-height: 700px;}
.section__contenedor_prendas{justify-content: space-evenly;}
.section__contenedor_prendas-cards{text-align: center;padding-top: 30px;margin-bottom: 30px;border-radius: 1.25rem; }
.section__contenedor__prendas__cards__img{
    height: 200px;}
